1. Question 1:
Write a Python program to print your name and favourite colour on two
separate lines.

In [1]:
print("Apeksha")
print("Red")

Apeksha
Red

2. Question 2:
Write a Python program that prints the result of adding 7 and 8.

In [2]:
print(7 + 8)

15

3. Question 3:
Use the print function to display the following text exactly as it is:
Python is fun!
Let's learn together.

In [3]:
print("Python is fun!\nLet's learn together.")

Python is fun!
Let's learn together.

4. Question 4:
Write a Python program to calculate and print the result of multiplying 6 by
9.

In [4]:
print(6 * 9)

54

5. Question 5:
Write a Python program that prints the result of adding 5 + 5 and
multiplying 2 * 3 in a single line of code.

In [5]:
print(5 + 5, 2 * 3)

10 6

1. Take the name A as input from the user and print "Hello A", where A is
the name in input.

In [ ]:
name = input("Enter your name: ")
print("Hello", name)

2. You have x rupees in your savings. You google pay y rupees, print your
bank balance

In [7]:
x = int(input("Enter your savings: "))
y = int(input("Enter amount to Google Pay: "))
balance = x - y
print("Bank Balance:", balance)

Enter your savings:  600000
Enter amount to Google Pay:  444

Bank Balance: 599556

3. Print the first five letters of the English alphabet i.e. A, B, C, D and E.
one below each other

In [8]:
print("A")
print("B")
print("C")
print("D")
print("E")

A
B
C
D
E

4. Take two names A and B as input from the user, and print "A says Hi to
B" (Without quotations), where A and B are the names in input.

In [9]:
A = input("Enter name A: ")
B = input("Enter name B: ")
print(A, "says Hi to", B)

Enter name A:  tejas
Enter name B:  neha

tejas says Hi to neha