1. Question 1:
Create a variable age and assign it the value 25 . Then print the value of
age along with its data type using the type() function.

In [6]:
age = 25
print("Age:", age)
print("Type:", type(age))

Age: 25
Type: <class 'int'>

2. Question 2:
Assign the number 12.5 to a variable price . Print both the variable and its
data type. Then assign the value 12 to the same variable and print its data
type again. What do you observe?

In [7]:
price = 12.5
print("Price:", price)
print("Type:", type(price))

price = 12
print("Updated Price:", price)
print("New Type:", type(price))

Price: 12.5
Type: <class 'float'>
Updated Price: 12
New Type: <class 'int'>

3. Question 3:
Create a variable is_raining and set it to True . Print the value of the variable
along with its type. Then set is_raining to False and print the new value and
type.

In [3]:
is_raining = True
print("Is it raining?", is_raining)
print("Type:", type(is_raining))

is_raining = False
print("Updated value:", is_raining)
print("New Type:", type(is_raining))

Is it raining? True
Type: <class 'bool'>
Updated value: False
New Type: <class 'bool'>

4. Question 4:
Create a variable my_name and store your full name in it as a string. Then
print the value of my_name using single quotes

In [4]:
my_name = 'Apeksha Bhoir'
print('My name is:', my_name)

My name is: Apeksha Bhoir

5. Question 5:
Write a Python program that asks the user for their name and age using the
input() function. Store the inputs in variables and print a sentence like
"Hello, [Name]! You are [Age] years old." Ensure you cast the age to an
integer.

In [5]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
print(f"Hello, {name}! You are {age} years old.")

Enter your name:  apeksha
Enter your age:  24

Hello, apeksha! You are 24 years old.

6. Question 6:
Create two variables x and y and assign them the values 10 and 3.5 ,
respectively. Print their values and types. Then, create a new variable
sum_xy and store the sum of x and y . Print the result and its type.

In [ ]:
x = 10
y = 3.5
print("x:", x, "Type:", type(x))
print("y:", y, "Type:", type(y))

sum_xy = x + y
print("Sum:", sum_xy, "Type:", type(sum_xy))

7. Question 7:
Using the type() function, check and print the data type of the following:
45.0
"hello"
None
False

In [ ]:
print("Type of 45.0:", type(45.0))
print("Type of 'hello':", type("hello"))
print("Type of None:", type(None))
print("Type of False:", type(False))

8. Question 8:
Write a Python program to print three strings "apple" , "banana" , and "cherry"
on the same line, separated by a space. Then modify the program to
separate the strings using a comma , instead of a space.

In [ ]:
# With space
print("apple", "banana", "cherry")

# With comma
print("apple,banana,cherry")

9. Question 9:
Create a variable big_number and assign it a very large integer value (e.g.,
987654321987654321 ). Print the value and its type. What do you notice about
the size of the number?

In [ ]:
big_number = 987654321987654321
print("Big Number:", big_number)
print("Type:", type(big_number))

10. Question 10:
Write a Python program that prints the result of multiplying two floats (e.g.,
2.5 and 3.7 ). Then check and print the data type of the result.

In [ ]:
result = 2.5 * 3.7
print("Multiplication result:", result)
print("Type:", type(result))