1. Year List Creation
Create a list years_list that includes the year of your birth and the next five years (total 6
years).

In [1]:
years_list = [year for year in range(2000, 2000 + 6)]
print(years_list)

[2000, 2001, 2002, 2003, 2004, 2005]

2. Third Birthday Year
Print the year in years_list when you were 3 years old.
Hint: Remember, your 0th year is the first item.

In [2]:
years_list = [2000, 2001, 2002, 2003, 2004, 2005]

In [3]:
print(years_list[3])

2003

3. Oldest Year
Which year in years_list represents the most recent (your oldest age)?

In [4]:
years_list = [2000, 2001, 2002, 2003, 2004, 2005]
print(years_list[-1])

2005

4. List of Things
Create a list called things with the following items:
["mozzarella", "cinderella", "salmonella"]

In [5]:
things = ["mozzarella", "cinderella", "salmonella"]
print(things)

['mozzarella', 'cinderella', 'salmonella']

5. Capitalization Check
Capitalize the item that refers to a person in the things list.
Print the list. Did the original list change?

In [6]:
things = ["mozzarella", "cinderella", "salmonella"]

In [7]:
things[1] = things[1].capitalize()
print(things)

['mozzarella', 'Cinderella', 'salmonella']

6. Surprise List
Create a list called surprise_list with these values:
["Groucho", "Chico", "Harpo"]

In [8]:
surprise_list = ["Groucho", "Chico", "Harpo"]
print(surprise_list)

['Groucho', 'Chico', 'Harpo']

7. String Transformation
Take the last item in surprise_list:

• Lowercase it
• Reverse it
• Capitalize the result
Then print it.

In [9]:
surprise_list = ["Groucho", "Chico", "Harpo"]

# Step-by-step transformation
last_item = surprise_list[-1].lower()      # 'harpo'
reversed_item = last_item[::-1]            # 'oprah'
final_result = reversed_item.capitalize()  # 'Oprah'

print(final_result)

Oprah

8. English-to-French Dictionary
Create a dictionary e2f that maps these:
• dog → chien
• cat → chat
• walrus → morse
Print the dictionary.

In [10]:
e2f = {
    "dog": "chien",
    "cat": "chat",
    "walrus": "morse"
}

print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

9. Translate 'walrus' to French
Use e2f to print the French word for “walrus.”

In [11]:
e2f = {
    "dog": "chien",
    "cat": "chat",
    "walrus": "morse"
}

print(e2f["walrus"])

morse

10. Reverse Dictionary
Create a reverse dictionary f2e from e2f using the .items() method.
Print f2e.

In [12]:
e2f = {
    "dog": "chien",
    "cat": "chat",
    "walrus": "morse"
}

# Reverse the dictionary
f2e = {french: english for english, french in e2f.items()}

print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

11. Translate 'chien' to English
Use f2e to print the English word for “chien.”

In [13]:
f2e = {
    "chien": "dog",
    "chat": "cat",
    "morse": "walrus"
}

print(f2e["chien"])

dog

12. Get All English Words
Print the set of all English words (the keys from e2f).

In [14]:
e2f = {
    "dog": "chien",
    "cat": "chat",
    "walrus": "morse"
}

english_words = set(e2f.keys())
print(english_words)

{'walrus', 'dog', 'cat'}

13. Create a Nested Dictionary (life)
Create a dictionary life structured like this:
{

'animals': {
'cats': ['Henri', 'Grumpy', 'Lucy'],
'octopi': {},
'emus': {}
},
'plants': {},
'other': {}
}

In [15]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

print(life)

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}, 'plants': {}, 'other': {}}

14. Top-Level Keys
Print the top-level keys of life.

In [16]:
print(life.keys())

dict_keys(['animals', 'plants', 'other'])

In [17]:
print(list(life.keys()))

['animals', 'plants', 'other']

15. Animal Categories
Print the keys inside life['animals'].

In [18]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

# Print the keys inside life['animals']
print(life['animals'].keys())

dict_keys(['cats', 'octopi', 'emus'])

16. List of Cat Names
Print the list of cat names stored in life['animals']['cats'].

In [19]:
print(life['animals']['cats'])

['Henri', 'Grumpy', 'Lucy']